body{
    background: url("ICS4UBackgroundDungeon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x:hidden;
    height: 100%;
    z-index: -1;
}

#title{
    color: beige;
    position: relative;
    left: 680px;
    top: 20px;
    
    font-style: Ravie;
}

#formtext{
   color:white; 
}

.formgeneral{
    color: black;
    position:relative;
    left: 650px;
}

.loginbuttons{
    position: relative;
    left: 700px;
}